{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0">
    <link rel="shortcut icon" href="{% static "common/images/favicon.ico" %}" type="image/x-icon"/>

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    {% block css %}
        <script type="text/javascript">window.less = window.less || {env: "development"};</script>
        <link href="{% static "common/libs/bootstrap3/less/bootstrap.less" %}" rel="stylesheet" type="text/less"/>

        {% block page-css %}
        {% endblock %}

        <script src="{% static "common/libs/less_js/less.min.js" %}" type="text/javascript"></script>
    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}">
    <div class="container">
        {% block container %}{% endblock %}
    </div>

    {% block js %}
        <script src="{% static "common/libs/jquery2/jquery-2.2.0.min.js" %}" type="text/javascript"></script>
        <script src="{% static "common/libs/bootstrap3/js/bootstrap.min.js" %}" type="text/javascript"></script>

        {% block page-js %}
        {% endblock %}
    {% endblock js %}
</body>
</html>