{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0">
    <link rel="shortcut icon" href="{% static "common/images/favicon.ico" %}" type="image/x-icon"/>

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
</head>
<body>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
</body>
</html>