{% extends "web/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Weibo Online Capture" %}{% endblock %}
{% block page-css %}
    <link href="{% static "web/less/page_weibo_capture.less" %}" rel="stylesheet" type="text/less"/>
{% endblock %}
{% block body_id %}weibo-capture{% endblock %}
{% block container %}
    {% include "web/includes/include_capture_header.html" %}
    <div class="form-wrapper">
        <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout='inline' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "camera" %} {% trans "Submit" %}
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}